<strong style="font-size:16px; color:#3e96ac">
  Useful Public Safety Tweet Extractor - CMU 2017-19
</strong>
<ul>
  <li>Developed a DL NLP tweet extractor model to select useful tweets
    during public safety events</li>
  <li>Created a Django/MySQL interface for the user to view and provide
    feedback on the outputs</li>
</ul>

<hr>

<strong style="font-size:16px; color:#3e96ac">
  Art and Machine Learning projects - CMU 2019
</strong>
<ul>
  <li>Urban Jungle (Deep Dream & Style Transfer)
    <a href="https://github.com/TevenLeScao/artXml" target="_blank">[Code]</a></li>
  <li>Rorschach generation (GANs to generate Rorschach ink blots)
    <a href="https://github.com/craigastewart/rorschach" target="_blank">[Code]</a></li>
  <li>Kick the drummer out (Automatic drum beat generator)
    <a href="https://github.com/jblamare/Beat-generator" target="_blank">[Code]</a></li>
  <li>Bloom (Aesthetic visualizations of a neural network's training process)
    <a href="https://github.com/TevenLeScao/bloom" target="_blank">[Code]</a></li>
</ul>

<hr>

<strong style="font-size:16px; color:#3e96ac">
  Embodied Question Answering (EQA) - CMU 2018
</strong>
<ul>
  <li>Improved the Visual Question Answering (VQA) and navigation metrics on
    the EQA task</li>
  <li>Worked on deep learning applied to VQA and navigation in a 3D
    environment in Pytorch</li>
</ul>

<hr>

<strong style="font-size:16px; color:#3e96ac">
  A Neural Music Critic - CMU 2018
</strong>
<a href="https://github.com/jblamare/Song-Review-Generation" target="_blank">[Code]</a>
<ul>
  <li>Developed a tool that automatically writes a review from the audio
    file of a song</li>
  <li>Worked on Music Processing and Conditioned Text Generation with CNNs
    and LSTMs in Pytorch</li>
</ul>

<hr>

<strong style="font-size:16px; color:#3e96ac">
  Turning Day into Night - CMU 2018
</strong>
<a href="https://github.com/AmosLewis/Image2Image_Style_transfer_pytorch" target="_blank">[Code]</a>
<ul>
  <li>Developed a tool converting a daylight picture into the same image
    at night</li>
  <li>Worked on Generative Adversarial Networks in Pytorch</li>
</ul>
