<strong style="font-size:16px">
  <a href="https://arxiv.org/abs/2010.14587" target="_blank">On the diminishing return of labeling clinical reports</a>
</strong>
<a href="https://docs.google.com/presentation/d/1zJUJ9wqoxF0gGoauR4JTEg6HT-K5QTCty8dp4vVEsmg/edit?usp=sharing" target="_blank">[Slides]</a>
<br>
<u>Jean-Baptiste Lamare</u>, Tobi Olatunji, Li Yao<br>
<strong>EMNLP 2020 - Clinical NLP workshop</strong>

<hr>

<strong style="font-size:16px">
  <a href="https://www.researchgate.net/profile/Ankit_Shah39/publication/327732949_Accident_Forecasting_in_CCTV_Traffic_Camera_Videos/links/5ba163df92851ca9ed14af3f/Accident-Forecasting-in-CCTV-Traffic-Camera-Videos.pdf" target="_blank">
    Accident forecasting in CCTV traffic camera videos</a>
</strong>
<a href="https://github.com/ankitshah009/CarCrash_forecasting_and_detection" target="_blank">[Code]</a>
<a href="https://ankitshah009.github.io/accident_forecasting_traffic_camera" target="_blank">[Data]</a>
<br>
Ankit Shah, <u>Jean-Baptiste Lamare</u>, Tuan Nguyen Anh, Alexander Hauptmann
<strong>AVSS 2018 - T4S workshop</strong>

<hr>

<strong style="font-size:16px">
  <a href="https://www.researchgate.net/profile/Po_Yao_Huang4/publication/325706810_Multimodal_Filtering_of_Social_Media_for_Temporal_Monitoring_and_Event_Analysis/links/5ec349b992851c11a87412d8/Multimodal-Filtering-of-Social-Media-for-Temporal-Monitoring-and-Event-Analysis.pdf" target="_blank">
    Multimodal filtering of social media for temporal monitoring and event analysis</a>
</strong><br>
Po-Yao Huang, Junwei Liang, <u>Jean-Baptiste Lamare</u>, Alexander
Hauptman<br>
<strong>ICMR 2018</strong>
